@import "../../styles/mixins";

.auto-complete {
  &-caret {
    @include vertical-center;
    right: 12px;
  }

  &-trigger {
    position: absolute;
    width: 100%;
    height: 32px;
    top: 0;
    right: 0;
  }

  .dropdown-content {
    max-height: 232px;
    overflow-y: auto;
  }

  &-content {
    mark {
      background-color: transparent;
      color: $primary;
    }

    .menu-item > span {
      display: block;
      word-break: break-all;
    }
  }
}
