@import "../../scss/variables";
@import "../../scss/mixins";

.input {
  width: 376px;
  height: 32px;
  padding: 6px 12px;
  border-radius: $border-radius;
  border: solid 1px $input-border-color;
  background-color: #ffffff;
  box-sizing: border-box;
  @include TypographySymbolText;
  transition: all $trans-speed ease-in-out;
  outline: none;
  caret-color: $dark-color06;

  &::placeholder {
    font-weight: $font-normal;
    color: $dark-color03;
  }

  &:not([readonly]):not([disabled]):hover {
    border-color: $input-hover-color;
  }

  &:not([readonly]):not([disabled]):focus {
    border-color: $input-focus-color;
  }

  &[readonly],
  &[disabled] {
    background-color: $light-color02;
  }

  &[readonly] {
    cursor: initial;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.input-password {
  position: relative;
  display: inline-block;

  &.has-icons-right {
    .icon.clickable {
      opacity: 0.5;
      pointer-events: auto;
      &:hover {
        opacity: 1;
      }
    }

    .icon.is-right {
      z-index: 5;
      @include vertical-center;
      right: 12px;
    }
  }
}
