@import "../../styles/variables";
@import "../../styles/mixins";

input.input {
  width: 376px;
  height: 32px;
  padding: 6px 12px;
  border-radius: $border-radius;
  border: solid 1px $input-border-color;
  background-color: #ffffff;
  box-sizing: border-box;
  @include TypographySymbolText;
  transition: all $trans-speed ease-in-out;
  outline: none;
  caret-color: $dark-color06;

  &::placeholder {
    font-weight: $font-normal;
    color: $dark-color03;
  }

  &:not([readonly]):not([disabled]):hover {
    border-color: $input-hover-color;
  }

  &:not([readonly]):not([disabled]):focus {
    border-color: $input-focus-color;
  }

  &[readonly],
  &[disabled] {
    background-color: $light-color02;
  }

  &[readonly] {
    cursor: initial;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.input-password {
  position: relative;
  display: inline-block;

  &.has-icons-right {
    .icon.clickable {
      opacity: 0.5;
      pointer-events: auto;
      &:hover {
        opacity: 1;
      }
    }

    .icon.is-right {
      z-index: 5;
      @include vertical-center;
      right: 12px;
    }
  }
}

.input-search {
  position: relative;

  &.has-icons-left {
    .input {
      padding-left: 40px;
    }
    .icon.is-left {
      left: 12px;
    }
  }

  &.has-icons-right {
    .input {
      padding-right: 40px;
    }
    .icon.is-right {
      right: 12px;
    }
  }

  .icon {
    @include vertical-center;
  }

  .input {
    width: 100%;
    opacity: 0.6;
    border-radius: 18px;
    border-color: transparent;
    background-color: $light-color01;
    padding: 5px 12px;
    color: $text-color;

    &:not([readonly]):not([disabled]):focus,
    &:not([readonly]):not([disabled]):active,
    &:not([readonly]):not([disabled]):visited {
      background-color: $white;
      border-color: $dark-color01;
      box-shadow: none;
    }

    &::placeholder {
      color: $second-text-color;
    }
  }
}
