@import "../../styles/variables";
@import "../../styles/mixins";

.button {
  position: relative;
  border: none;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all $trans-speed ease-in-out;
  @include TypographySymbolText;

  &-content {
    height: 20px;
    white-space: nowrap;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }

  & + .button {
    margin-left: 12px;
  }
}

.is-loading {
  opacity: 0.6;
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;

  .button-content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

  .spin {
    vertical-align: middle;
  }
}

.button-size-normal {
  padding: 5px 23px;

  &.has-icon {
    padding: 5px 20px;
  }
}

.has-icon {
  .icon {
    height: 16px;
    width: 16px;
    vertical-align: middle;
  }

  .button-content {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
  }
}

.button-default {
  border: 1px solid $btn-default-border;
  background-color: $btn-default-bg;
  box-shadow: $btn-default-shadow;

  &:hover {
    background-color: $btn-default-hover-bg;
    border-color: $btn-default-hover-border;
  }

  &:active {
    background-color: $btn-default-active-bg;
    border-color: $btn-default-active-border;
    box-shadow: $btn-default-active-shadow;
  }
}

.button-primary {
  color: $btn-primary-text-color;
  border: 1px solid $btn-primary-bg;
  background-color: $btn-primary-bg;
  box-shadow: $btn-primary-shadow;

  &:active {
    box-shadow: $btn-primary-active-shadow;
  }
}

.button-control {
  color: $btn-control-text-color;
  border: 1px solid $btn-control-bg;
  background-color: $btn-control-bg;
  box-shadow: $btn-control-shadow;

  &:active {
    box-shadow: $btn-control-active-shadow;
  }
}

.button-danger {
  color: $btn-danger-text-color;
  border: 1px solid $btn-danger-bg;
  background-color: $btn-danger-bg;
  box-shadow: $btn-danger-shadow;

  &:active {
    box-shadow: $btn-danger-active-shadow;
  }
}

.button-flat {
  border: 1px solid transparent;
  background-color: transparent;

  &:hover {
    background-color: $btn-flat-hover-bg;
  }

  &:active {
    background-color: $btn-flat-active-bg;
  }
}

.is-ghost {
  background-color: transparent;
  box-shadow: none !important;

  &:hover {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}
