@import "../../scss/variables";
@import "../../scss/mixins";

.menu {
  list-style: none;
  box-sizing: border-box;
  min-width: 210px;
  margin: 0;
  padding: 8px;
  border-radius: $border-radius;
  background-color: $white;
  z-index: 100;
  &-label {
    padding: 8px 22px;
  }
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 22px;
    border-radius: $border-radius;
    font-weight: $font-bold;
    color: $dark-color04;
    line-height: 20px;
    cursor: pointer;
    @include ellipsis;

    &:hover {
      background-color: $light-color03;
    }

    &-selected {
      background-color: $light-color02;
    }
    
    &:active {
      background-color: $light-color03;
    }

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        border-color: transparent;
        background-color: $white;
      }
    }

    & > a {
      flex: 1;
      padding: 0 12px;
      margin: 0 -12px;
      line-height: 32px;
    }
  }
  .icon {
    margin-top: 2px;
    margin-right: 12px;
  }
}
