@import "../../styles/variables";
@import "../../styles/mixins";

.menu {
  margin: 0;
  padding: $menu-padder;
  min-width: $menu-min-width;
  border-radius: $border-radius;
  background-color: $menu-bg;
  list-style: none;
  box-sizing: border-box;
  z-index: $menu-z-index;

  &-label {
    padding: $menu-item-padder;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: $menu-item-padder;
    border-radius: $border-radius;
    font-weight: $font-bold;
    color: $menu-item-color;
    line-height: 20px;
    cursor: pointer;
    @include ellipsis;

    &:hover {
      background-color: $menu-item-hover-bg;
    }

    &-selected {
      background-color: $menu-item-selected-bg;
    }

    &:active {
      background-color: $menu-item-active-bg;
    }

    &-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    & > a {
      flex: 1;
      padding: 0 $base-margin;
      margin: 0 -$base-margin;
      line-height: 32px;
    }
  }

  .icon {
    margin-top: 2px;
    margin-right: $base-margin;
  }
}
