@import "../../styles/variables";

.tabs-container {
  display: flex;
  flex-direction: column;
  .tabs {
    position: relative;
    ul li {
      cursor: pointer;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .icon {
          margin-right: 12px;
          margin-left: 0;
        }
      }
      &:hover {
        color: $green-color02;
      }
      &:active {
        color: $primary;
      }
      &.is-active {
        color: $primary;
        font-weight: 500;
      }
      &.is-disabled {
        color: $text-color;
        opacity: 0.5;
        cursor: not-allowed;
        span {
          color: $text-color;
        }
      }
    }
  }
  .tabs.is-horizon {
    overflow: hidden;
    ul {
      flex-direction: row;
    }
    &.is-start ul {
      justify-content: flex-start;
    }
    &.is-middle ul {
      justify-content: center;
    }
    &.is-end ul {
      justify-content: flex-end;
    }
    ul li {
      display: inline-flex;
      align-items: center;
      padding: 11px 0;
      border-bottom: 1px solid transparent;
      margin: 0 24px;
      margin-bottom: -1px;
      &:hover {
        border-color: $border-color;
      }
      &.is-active {
        border-color: $border-color;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &:not(:last-child) {
      margin: 0;
    }
  }
  .tabs.is-vertical {
    ul {
      flex-direction: column;
      border-right:  1px solid $border-color;
      border-bottom: none;
    }
    &.is-start ul li {
      justify-content: flex-start;
    }
    &.is-middle ul li {
      justify-content: center;
    }
    &.is-end ul li {
      justify-content: flex-end;
    }
    ul li {
      display: flex;
      width: 100%;
      padding: 11px 24px;
      margin: 8px 0;
      margin-right: -2px;
      border-right: 1px solid transparent;
      &:hover {
        border-color: $border-color;
      }
      &.is-active {
        border-right:  1px solid $border-color;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tab-content {
  padding: 12px 0;
  .tab-panel {
    display: none;
    &.is-active {
      display: flex;
    }
  }
}

.tabs-container-vertical {
  flex-direction: row;
  .tabs {
    min-width: 128px;
  }
  .tab-content {
    padding: 0 12px;
  }
}
