@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-Bold.woff2') format('woff2'),
        url('./ProximaNova-Bold.woff') format('woff'),
        url('./ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-Light.woff2') format('woff2'),
        url('./ProximaNova-Light.woff') format('woff'),
        url('./ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-Regular.woff2') format('woff2'),
        url('./ProximaNova-Regular.woff') format('woff'),
        url('./ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-Semibold.woff2') format('woff2'),
        url('./ProximaNova-Semibold.woff') format('woff'),
        url('./ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('./ProximaNova-SemiboldIt.woff') format('woff'),
        url('./ProximaNova-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./ProximaNova-Regular_1.woff2') format('woff2'),
        url('./ProximaNova-Regular_1.woff') format('woff'),
        url('./ProximaNova-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

