@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";

@import "../../styles/variables";

$column-gap: $base-margin !default;

.columns.is-variable {
  margin-right: calc(-1 * var(--columnGap));
  margin-left: calc(-1 * var(--columnGap));
  --columnGap: $column-gap;
  .column {
    padding-right: var(--columnGap);
    padding-left: var(--columnGap);
  }
  @for $i from 0 through 8 {
    &.is-#{$i} {
      --columnGap: #{$i * $column-gap / 3};
    }
  }
}
