@import "../../styles/variables";
@import "../../styles/mixins";

.popper {
  &.tippy-box {
    position: relative;
    background-color: $popper-background;
    color: #fff;
    border-radius: $border-radius;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    box-shadow: $box-shadow;
    opacity: 1;
  }
  &[data-state='visible'] {
    pointer-events: auto;
  }
}